<apex:component >
<!-- 

Set up Component for Only JQuery

Note :- Please make sure keeping you resource file name same as the below or change it in the component

 -->

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<apex:includeScript value="{!URLFOR($Resource.Extra_Tabs_JK,'jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Extra_Tabs_JK,'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>
<link href="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/css/start/jquery-ui-1.10.3.custom.css')}" rel="stylesheet" />
</head>
</apex:component>